<!DOCTYPE html>
<html>
<head>
  <title>Organ</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="rails-errors">
    <%= render 'partials/errors' %>
  </div>

  <%= yield %>

  <script type="text/javascript" charset="utf-8">
    <% if logged_in? %>
      ;(function () {
        window.User = {
          loggedIn: true,
          username: "<%= current_user.username %>"
        };
      })();
    <% else %>
      ;(function () {
        window.User = {
          loggedIn: false,
          username: ""
        };
      })();
    <% end %>
  </script>
</body>
</html>
